node:
  id: {{ node_id }}

topology:
  - id: cloud
    role: cloud-controller
    zone: cloud
    address: yl-04.lab.uvalight.net
    offload:
      enabled: false
      
  - id: cloud
    role: cloud-controller
    zone: cloud
    address: yl-05.lab.uvalight.net
    offload:
      enabled: false

  - id: edge1
    role: edge-controller
    zone: edge-A
    address: yl-01.lab.uvalight.net
    offload:
      enabled: true
      cpu_thresh: 0.7
      load_thresh: 1.5

  - id: edge2
    role: worker
    zone: edge-A
    address: yl-02.lab.uvalight.net
    offload:
      enabled: true
      cpu_thresh: 0.7
      load_thresh: 1.5

  - id: edge3
    role: edge-controller
    zone: edge-B
    address: yl-03.lab.uvalight.net
    offload:
      enabled: true
      cpu_thresh: 0.7
      load_thresh: 1.5

  - id: edge4
    role: worker
    zone: edge-B
    address: yl-06.lab.uvalight.net
    offload:
      enabled: true
      cpu_thresh: 0.7
      load_thresh: 1.5